<h2>Reestablecer password</h2>
<hr>
<form action="/api/users/resetPassword" method="post">
    {{#if emptyFieldEmail}}
        <div class="error">{{emptyFieldEmail}}</div>
    {{/if}}

    {{#if unregisteredClient}}
        <div class="error">{{unregisteredClient}}</div>
    {{/if}}

    {{#if successResetPassRequest}}
        <div class="success">{{successResetPassRequest}}</div>
    {{/if}}

    {{#if tokenExpired}}
        <div class="error">{{tokenExpired}}</div>
    {{/if}}

    {{#if equalPassword}}
        <div class="error">{{equalPassword}}</div>
    {{/if}}
    
    <input type="email" name="email" placeholder="Ingrese su email">
    <input type="submit" value="Reestablecer">
</form>
<br>
<br>
<ul class="menu"><li><a href="/login">Volver a login</a></li></ul>